
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>
        Curriculum
    </legend>
</fieldset>  

<fieldset>
    <legend>
        Datos Personales
    </legend>

    <h3>Nombre: </h3>
    <h3>Fecha Nacimiento: </h3>
    <h3>Residencia: </h3>

    <h2>Competencias</h2>
    <h3>Habilidades Tecnicas:</h3>
    <h3>Idiomas</h3>
</fieldset>

<fieldset>
    <legend>Referencias</legend>
</fieldset>